@charset "utf-8";

/* 레이아웃 */
#warp {
    
    margin:0 auto;
    font-size: 20px;
    text-align: center;
    color:#fff;
}
#header {
    
    height: 100px;
    background: #111111 ;
}
#contents {
    
    background: #222222;
}
#footer {
    
    height: 100px;
    background: #333333;
}

/* 컨텐츠 레이아웃 */
.cont_nav{height: 100px;background: #444444;}
.cont_tit{height: 100px;background: #555555;}
.cont_ban{height: 100px;background: #666666;}
.cont_cont{height: 200px;background: #777777;}


/* 컨테이너 */
.container{width: 90%; margin: 0 auto; height: inherit; background: rgba(0,0,0,0.3);}

