@charset "utf-8";
/* 스킨 내비게이션 */

#skip {position: relative;}
#skip a {
    position: absolute;
    left:0px;
    top:-40px;
    border: 1px solid #fff ;
    color: #fff;
    background: #333;
    line-height: 20px;
    width: 100px;
    font-size: 10px;
    text-align: center;
}
#skip a:active,
#skip a:focus { top:0;}


/* 레이아웃 */
#warp {
    

}
#header {    
    height: 325px;
    background: url("/img/header_bg.jpg") center top repeat-x ;
}
#contents {
    
}
#footer {
    
    height: 200px;
    background: #333333;
}

/* 컨텐츠 레이아웃 */
#cont_nav{background: #f6fdff;}
#cont_tit{background: #EAF7FD;}
#cont_ban{background: #dceff7;}
#cont_cont{background: #f6fdff;}


/* 컨테이너 */
.container{width: 990px ; margin: 0 auto; height: inherit; /* background: rgba(0,0,0,0.3) */}

/* 헤더 */
/* text는 주로 인라인형태, 박스형태는 블락형태 */

.header .header-menu{text-align: right;}
.header .header-menu a{ color:#fff; padding : 10px 0; display:inline-block ;}
.header .header-menu a:hover { color:#660000;}
.header .header-tit{text-align: center; }
.header .header-tit h1{
     background: #4aa8d4;
     font-style: 28px;
     padding: 10px; 
     display:inline-block;
     color: #fff;
     padding:5px 20px 6px 20px;
     line-height: 1.5;
     margin-top: 40px;
    }
.header .header-tit a{
    display:inline-block;
    background: #2698cb; 
    font-size: 18px;
    padding: 5px 20px 6px 20px;
}
.header .header-tit a:hover{
    display:inline-block;
    background: rgba(26,98,230,0.3);
    font-size: 18px;
    padding: 5px 20px 6px 20px;
}

.header .header-icon{text-align: center; margin:30px;}
.header .header-icon a{
    width:60px; height: 60px; display:inline-block; background : url(/img/icon.png);
}

.header .header-icon a.icon1{
    background-position: 0 0;
}
.header .header-icon a.icon2{
    background-position: 0 -60px;
}
.header .header-icon a.icon3{
    background-position: 0 -120px;
}
.header .header-icon a.icon4{
    background-position: 0 -180px;
}
.header .header-icon a.icon1:hover{
    background-position:-60px 0;
}
.header .header-icon a.icon2:hover{
    background-position: -60px -60px;
}
.header .header-icon a.icon3:hover{
    background-position: -60px -120px;
}
.header .header-icon a.icon4:hover{
    background-position: -60px -180px;
}
/* float:left 로 인한 영역 깨짐(height:0) 방지법 
1. 깨지는 영역에 똑같이:left를 사용한다.(좋지 않음)
2. float의 성질을 차단하는 clear:both; 를사용한다. (잘 사용하지 않음)
3. float을 사용한 상위박스한테 overflow:hidden을 사용 -> 현재 많이 사용
4. clearfix를 사용합니다. 가장 좋은 방법
*/
/* 전체 메뉴 */

.nav {overflow: hidden; padding: 30px 0;}
.nav > div {
    float:left;
    width: 40%;
}
.nav > div:last-child{
    width: 20%;
}
.nav >div.last {
    width: 20%;
}
.nav > div h3 {font-size:18px; color:#25a2d0 ; margin-bottom: 4px;}

.nav > div ol{ overflow: hidden;}
.nav > div ol li{ float: left; width: 50%; margin : 3px 0;}
.nav > div ol li a:hover{ text-decoration: underline;}

.nav > div.last ol li { width:100%;}

/* content title */
.tit {height: 70px;position: relative;} 
.tit h2{ font-size:40px ; text-align: center; padding: 5px 0;
    letter-spacing: 2px;
    color:#2c94c4;
    font-family: 'Nanum Brush Script', cursive;
}
.tit .btn{
    position: absolute;
    top: 5px ; right: 0;
    width: 60px;
    height: 60px;
    background: url(/img/icon.png) no-repeat 0 -600px;
}

/* banner */
.ban {position: relative; padding: 24px 0 20px;}
.ban>a{ position: absolute;  top: 60px; width: 43px;height: 43px;}
.ban a.prev { left:-80px;  background: url(/img/icon.png) no-repeat -150px 0; }
.ban a.next { right:-80px;background: url(/img/icon.png) no-repeat -150px -43px;}
.ban a.prev:hover {background-position: -193px 0;}
.ban a.next:hover {background-position: -193px -43px;}

.ban ul {overflow: hidden;}
.ban ul li{float: left; width: 330px;}
.ban ul li:last-child{text-align: right;}
.ban ul li:last-child(2){text-align: center;}
.ban ul li.ban_img1 {text-align: left;}
.ban ul li.ban_img2 {text-align: center;}
.ban ul li.ban_img3 {text-align: right;}
.ban ul li img{ border: 4px solid #dcdecd;}
.ban ul li img:hover{ border-color : #98bcdc;}


/* 컨텐츠 */

.cont {overflow: hidden; padding-top:30px}
.cont .column { float:left;width: 289px;height: 363px;margin: 0 30px 30px 0; padding-right:30px; position: relative;}
.cont .col1 {border-right: 1px solid #c8c8c8;}
.cont .col2 {border-right: 1px solid #c8c8c8;}
.cont .col3 { margin-right: 0; padding-right:0px;}
.cont .col4 {border-right: 1px solid #c8c8c8;}
.cont .col5 {border-right: 1px solid #c8c8c8;}
.cont .col6 { margin-right: 0;padding-right:0px;}

.cont .column .ico_img{
    display: block; width: 60px;height: 60px; position: absolute; left:0; top:0; background: url(/img/icon.png) no-repeat;
}
.cont .column .ico_tit{padding-left: 70px;font-size: 16px; color: #2c94c4;}
.cont .column .ico_desc{padding-left: 70px; border-bottom: 1px solid #d0d0d0; padding-bottom: 15px;}

.cont .col1 .ico_img{background-position: 0px -240px;}
.cont .col2 .ico_img{background-position: 0px -300px;}
.cont .col3 .ico_img{background-position: 0px -360px;}
.cont .col4 .ico_img{background-position: 0px -420px;}
.cont .col5 .ico_img{background-position: 0px -480px;}
.cont .col6 .ico_img{background-position: 0px -540px;}
.cont .col1 .ico_img:hover{background-position: -60px -240px;}
.cont .col2 .ico_img:hover{background-position: -60px -300px;}
.cont .col3 .ico_img:hover{background-position: -60px -360px;}
.cont .col4 .ico_img:hover{background-position: -60px -420px;}
.cont .col5 .ico_img:hover{background-position: -60px -480px;}
.cont .col6 .ico_img:hover{background-position: -60px -540px;}