<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout06</title>
  <style>
    #warp{text-align:center; font-size:30px; color:#fff;text-transform:uppercase;}
    #header{height:100px;background: #ffe1e4;}
    #banner{height:300px; background: #fbd6e3;}
    #contents{height:450px;background: #ead5ee;}
    #footer{height:100px;background: #d6ebfd;}

    .container{margin: 0 auto; height:inherit;width:60%;background:rgba(0,0,0,0.3);}
    
  </style>
</head>
<body>
  <div id="warp">
    <div id="header">
      <div class="container">
        header
      </div>
    </div>
    <div id="banner">
      <div class="container">
        banner
      </div>
    </div>
    <div id="contents">
      <div class="container">
        contents
      </div>
    </div>
    <div id="footer"> 
      <div class="container">
        footer
      </div>
    </div>
  </div>
</body>
</html>